In [2]:
import pandas as pd
import numpy as np

In [3]:
#Import csv

p_data = pd.read_csv('p_data.csv',delimiter=';')
w_data = pd.read_csv('w_data.csv',delimiter=';')

w_data.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

In [54]:
##Punto 1
#Merge

inner_data = pd.merge(p_data,w_data,how="inner",on="ID")
id_inner_count = inner_data["ID"].count()

print('En común hay',id_inner_count,'IDs')

En común hay 48842 IDs

In [34]:
##Punto 1 bis
#No tienen en común
outer_data = pd.merge(left=p_data,right=w_data,how="outer",on="ID")

not_in_data = outer_data[outer_data["Workclass"].isna()]
#not_in_data = outer_data.dropna(subset=['Workclass']).count()
id_outer_count= not_in_data.count()

In [57]:
#Punto 2
#Target
inner_data["Target"]=inner_data["Target"].str.strip()
inner_data_mod=inner_data.replace(["<=50K.",">50K."],["<=50K",">50K"])

inner_data_mod["Target"].drop_duplicates()

0        <=50K
7         >50K
32561      NaN
Name: Target, dtype: object

In [ ]:
#Punto 3