In [2]:
import pandas as pd
import numpy as np

In [5]:
#Import csv

p_data = pd.read_csv('p_data.csv',delimiter=';')
w_data = pd.read_csv('w_data.csv',delimiter=';')

w_data.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

In [20]:
#Merge

inner_data = pd.merge(p_data,w_data,how="inner",on="ID")
id_inner_count = pw_data["ID"].count()

inner_data.head()
#print('En común hay',id_inner_count,'IDs')

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,Target
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family,State-gov,77516.0,2174.0,0.0,40.0,<=50K
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband,Self-emp-not-inc,83311.0,0.0,0.0,13.0,<=50K
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family,Private,215646.0,0.0,0.0,40.0,<=50K
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband,Private,234721.0,0.0,0.0,40.0,<=50K
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife,Private,338409.0,0.0,0.0,40.0,<=50K

In [25]:
outer_data = pd.merge(left=p_data,right=w_data,how="outer",on="ID")

not_in_data = pd.isna(outer_data["Workclass"])

not_in_data.head()

0    False
1    False
2    False
3    False
4    False
Name: Workclass, dtype: bool