In [134]:
import pandas as pd
import numpy as np
import sqldf

In [135]:
#Import csv

p_data = pd.read_csv('p_data.csv',delimiter=';')
w_data = pd.read_csv('w_data.csv',delimiter=';')

w_data.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

In [136]:
##Punto 1
#Merge

inner_data = pd.merge(p_data,w_data,how="inner",on="ID")
id_inner_count = inner_data["ID"].count()

print('En común hay',id_inner_count,'IDs')

En común hay 48842 IDs

In [137]:
##Punto 1 bis
#No tienen en común
outer_data = pd.merge(left=p_data,right=w_data,how="outer",on="ID")

not_in_data = outer_data[outer_data["Workclass"].isna()]
#not_in_data = outer_data.dropna(subset=['Workclass']).count()
id_outer_count= not_in_data.count()

In [138]:
#Punto 2
#Target
inner_data["Target"]=inner_data["Target"].str.strip()
inner_data_mod=inner_data.replace(["<=50K.",">50K."],["<=50K",">50K"])

inner_data_mod["Target"].drop_duplicates()

0        <=50K
7         >50K
32561      NaN
Name: Target, dtype: object

In [139]:
#Punto 3
#Proporcion entre personas....>50K <=50K
#Calcular la proporción que hay entre personas con salarios >50k respecto del total para 
#Entre personas de distinto sexo, Raza y Educacion. Por ejemplo cuál es el porcentaje de mujeres con un salario mayor a 50K
#y compararlo con el de los hombres. Lo mismo para personas de distintas razas y Educación

import pandas as pd
import numpy as np
import sqldf 

inner_data.columns = inner_data.columns.str.replace(' ','_')

query = """
SELECT count(ID)
FROM inner_data
where Sex = ' Female' AND Target = "<=50K";
"""
femalesup = sqldf.run(query).values[0][0]

query = """
SELECT count(ID)
FROM inner_data
where Sex = ' Male' AND Target = "<=50K";
"""
malesup = sqldf.run(query).values[0][0]

query = """
SELECT count(ID)
FROM inner_data
where Target = "<=50K";
"""
allup = sqldf.run(query).values[0][0]


print("El porcentaje de mujeres por arriba de los 50K es",round(((femalesup/allup)*100),2),"% y el de los hombres es ",round(((malesup/allup)*100),2),"%")

#En sql se puede hacer en 1 sola query pero aca me marearon los ""

El porcentaje de mujeres por arriba de los 50K es 38.8 % y el de los hombres es  61.2 %

In [140]:
query = """
SELECT count(ID)
FROM inner_data
where Race = ' White' AND Target = "<=50K";
"""
whiteup = sqldf.run(query).values[0][0]

query = """
SELECT count(ID)
FROM inner_data
where Race = ' Black' AND Target = "<=50K";
"""
blackup = sqldf.run(query).values[0][0]

query = """
SELECT count(ID)
FROM inner_data
where Target = "<=50K";
"""
allup = sqldf.run(query).values[0][0]

print("El porcentaje de personas de raza blanca por arriba de los 50K es",round(((whiteup/allup)*100),2),"% y el de personas de raza negra es ",round(((blackup/allup)*100),2),"%")

El porcentaje de personas de raza blanca por arriba de los 50K es 83.73 % y el de personas de raza negra es  11.07 %

In [141]:
query = """
SELECT count(ID)
FROM inner_data
where Education = ' Bachelors' AND Target = "<=50K";
"""
bachup = sqldf.run(query).values[0][0]

query = """
SELECT count(ID)
FROM inner_data
where Education = ' HS-grad' AND Target = "<=50K";
"""
HSup = sqldf.run(query).values[0][0]

query = """
SELECT count(ID)
FROM inner_data
where Target = "<=50K";
"""
allup = sqldf.run(query).values[0][0]

print("El porcentaje de personas con Bachelor por arriba de los 50K es",round(((bachup/allup)*100),2),"% y el de personas con HS-grad es ",round(((HSup/allup)*100),2),"%")

El porcentaje de personas con Bachelor por arriba de los 50K es 12.68 % y el de personas con HS-grad es  35.7 %